<table class="table">
  <thead>
    <tr>
      <th scope="col">Año</th>
      <th scope="col">Color</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let auto of autos">
      <td>{{auto.anio}}</td>
      <td>{{auto.color}}</td>
      <td>{{auto.marca}}</td>
      <td>{{auto.modelo}}</td>
      <th scope="col"> 
          <!--<a href="" [routerLink]="['/client', client.id]">Ver Detalle</a>-->
          <a (click)="goToAutoDetail(client)">Ver Detalle</a>
      </th>
    </tr>
  </tbody>
</table>